<h3>Agregar <?= ucwords($scaffold_name); ?></h3>
<div class="row-fluid">
    <?= Form::open(PUBLIC_PATH . $controller_name . DS . $action_name); ?>
    <fieldset>
        <?php
        $db = new Norm($scaffold_name);
        $fields = $db->getStructure();
        foreach ($fields as $field) {
            if (($field["Key"] != "PRI" && $field["Key"] != 1) 
                    && (strpos($field["Field"], "_at") == false)
                    && (strpos($field["Field"], "_in") == false)) {
                ?>
                <?= Form::label($field["Field"], ucfirst($field["Field"])); ?>
                <?= Form::input($scaffold_name . '.' . $field["Field"], "class=\"form-control\"");?>
                <?php
            }

        }
        ?>
        <br /> <input type="submit" name="send" value="Agregar"
			class="btn btn-primary">
        <?= Html::link($controller_name, 'Cancelar', 'class="btn btn-default"'); ?> 
    </fieldset>
    <?= Form::close(); ?>

</div>
