<h3>Editando <?= ucwords($scaffold_name); ?> # <?= $data['id']; ?></h3>
<div class="row-fluid">

    <?= Form::open(PUBLIC_PATH . $controller_name . DS . $action_name . DS . $data['id']); ?>
    <fieldset>
        <?php
        $db = new Norm($scaffold_name);
        $fields = $db->getStructure();
		
        foreach ($fields as $field) {
            if (($field["Key"] != "PRI" && $field["Key"] != 1) 
                    && (strpos($field["Field"], "_at") == false)
                    && (strpos($field["Field"], "_in") == false)) {
                
                echo Form::label($field["Field"], ucfirst($field["Field"]));
                echo Form::text($scaffold_name . '.' . $field["Field"], "class=\"form-control\"", $data[$field["Field"]]);
            }
        }
        ?>
        <br /> <input type="submit" name="send" value="Guardar"
			class="btn btn-primary">
        <?= Html::link($controller_name, 'Cancelar', 'class="btn btn-default"'); ?> 
    </fieldset>
    <?= Form::close(); ?>

</div>

