<h3>Listado de <?= ucwords($scaffold_name) ?></h3>

<?= Html::link($controller_name . DS . 'add', '<i class="fa fa-plus"></i> Agregar', 'class="btn btn-success"'); ?>

<?php if (count($data) > 0): ?>
<table
	class="table table-bordered table-condensed table-bordered table-striped">
	<thead>
		<tr>
                <?php foreach ($data[1] as $colum => $value): ?>
                    <th><?= strtoupper($colum); ?></th>
                <?php endforeach; ?>
                <th>Opciones</th>
		</tr>
	</thead>
	<tbody>
            <?php foreach ($data as $row): ?>
                <tr>
                    <?php foreach ($row as $column): ?>
                        <td><?= htmlentities($column); ?></td>
                    <?php endforeach; ?>
                    <td>
                        <?= Html::link($controller_name . DS . 'edit' . DS . $row['id'], 'Editar') ?>
                        <?= Html::link($controller_name . DS . 'del' . DS . $row['id'], 'Eliminar', 'onclick="return confirm(\'Desea eliminar este elemento?\');"')?>
                    </td>
		</tr>
            <?php endforeach; ?>

        </tbody>
</table>
<?php else: ?>
<p>No hay datos para <?= ucwords($scaffold_name); ?></p>
<?php endif; ?>

