<?php if (Flash::hasMessages()) { ?>    
    <br/>
    <?= Flash::render(); ?>
<?php } ?>
<div class="row-fluid">    	
    <div class="span3">
        <?php //Partial::load('app/enlaces'); ?>
    </div>
    <div class="span9">
        <div class="well">	
            <h4>Guía</h4>
            <table style="width:100%">
                <?php 
                print_r((new User)->first('id = ?', 1));
                ?>
            </table>
        </div>
    </div> 
</div>
