<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8" />

<title><?= _(''); ?></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<?= Tag::css('normalize');?>
<?= Tag::css('skeleton');?>
<?= Tag::css('font-awesome.min');?>

</head>
<body>
	<div class="container">        

            <?= View::getContent(); ?>

           <?php View::partial('footer');?>
                        
        </div>
	<!-- /container -->

	<!-- SCRIPT AREA -->
	<script type="text/javascript">
        //ocultar el flash luego de 3 segundos
        var el = document.querySelector('.flash');
       
        setTimeout(function(){
            if (el !== undefined) {
                el.style.display = 'none';
            }
        }, 4000);
       
        </script>

</body>
</html>
