<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <!-- Mobile Specific Meta
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <title><?= PROJECT_NAME; ?></title>
        <link href="<?= PUBLIC_PATH; ?>css/bootstrap.flatly.min.css" rel="stylesheet">
        <link href="<?= PUBLIC_PATH; ?>css/signin.css" rel="stylesheet">
        <link href="<?= PUBLIC_PATH; ?>css/font-awesome.min.css" rel="stylesheet">
    </head>
    <body>

        <div class="container">
            <?= View::getContent(); ?>
        </div><!-- container -->

    </body>
</html>
