<hr />
<footer class="text-center">
	<div class="row-fluid">
		<div class="span4 text-center">
			<a href="#">Políticas de uso</a>
		</div>
		<div class="span4 text-center">
			<a href="#">Contáctenos</a>
		</div>
		<div class="span4 text-center">
			<a href="#">Nosotros</a>
		</div>
	</div>
	<?php echo 'Run in ', round((microtime(1) - $_SERVER['REQUEST_TIME_FLOAT']) * 1000, 4), ' ms. using ', number_format(memory_get_usage() / 1048576, 3), ' MB of memory' ?>
</footer>
