<?php if (Flash::hasMessages()) { ?>
<br />
<?= Flash::render(); ?>
<?php } ?>

<form id="form" name="form" method="post" class="form-signin">
	<h4><?= PROJECT_NAME; ?></h4>

	<label>Correo electrónico</label> <input type="text"
		name="access2[login]" id="access2_login" class="form-control"
		autofocus value="<?= isset($access2_login) ? $access2_login : '' ?>" />

	<label>Clave</label> <input type="password" name="access2[pass]"
		id="access2_pass" class="form-control" /> <br /> <input type="submit"
		name="send" value="Entrar" class="btn btn-success"> <a
		href="<?= PUBLIC_PATH; ?>" class="btn btn-default">Volver</a>



</form>
