<div class="well">
	<strong><i class="fa fa-fire"></i> Administración</strong><br />
    <?php
    foreach ((new Orm())->db->enlace()->where('grupo = ?', 'ADMIN') as $link) :
        $icon = '';
        if ($link['icono'] != '') :
            $icon = '<i class="' . $link['icono'] . '"></i> ';
        endif;

        ?>
        <a href="<?= PUBLIC_PATH . $link['url']; ?>"
		title="Ir a <?= $link['titulo']; ?>"><?= $icon; ?><?= $link['titulo']; ?></a><br>
    <?php endforeach; ?>	
</div>