<div class="well">
	<strong><i class="fa fa-fire"></i> Contenidos</strong><br />
    <?php
    foreach ((new Orm())->db->enlace()->where('grupo = ?', 'CONTENIDO') as $link) :
        $icon = '';
        if ($link['icono'] != '') :
            $icon = '<i class="' . $link['icono'] . '"></i> ';
        endif;

        ?>
        <a href="<?= PUBLIC_PATH . $link['url']; ?>"
		title="Ir a <?= $link['titulo']; ?>"><?= $icon; ?><?= $link['titulo']; ?></a><br>
    <?php endforeach; ?>	
</div>
<div class="well">
	<strong><i class="fa fa-link"></i> Links de Interés</strong><br />
    <?php foreach ((new Orm)->db->enlace()->where('grupo = ?', 'EXTERNO') as $link): ?>
        <a href="<?= $link['url']; ?>" target="_blank"
		title="Enlace externo a <?= $link['titulo']; ?>"><?= $link['titulo']; ?></a><br />
    <?php endforeach; ?>	
</div>