<?php if (intval(Auth::get('admin_level_id')) === 1): ?>
<p class="navbar-text pull-right">
	&nbsp; / <a class="navbar-link" href="<?= PUBLIC_PATH; ?>dashboard"><i
		class="fa fa-home"></i> Administrar</a>
</p>
<?php endif; ?>
<?php if (Auth::isLogged()): ?>
<p class="navbar-text pull-right">
	Conectad@ como <a href="<?= PUBLIC_PATH; ?>profile" title="Mi Perfil"
		class="navbar-link"><?= Auth::get('username'); ?></a> / <a
		class="navbar-link" href="<?= PUBLIC_PATH; ?>sesion/logout"
		title="Cerrar sesión"><i class="fa fa-sign-out"></i> Salir</a>
</p>
<?php else: ?>
<p class="navbar-text pull-right">
	<a class="navbar-link" href="<?= PUBLIC_PATH; ?>register"><i
		class="fa fa-plus"></i> Unirse a la comunidad</a> / <a
		class="navbar-link" href="<?= PUBLIC_PATH; ?>sesion/login"><i
		class="fa fa-user"></i> Entrar</a>
</p>
<?php endif; ?>